{% extends "loggedout_frame.html" %}
{% block body %}
<h1>Welcome! Please sign up below:</h1>
<h3>If you already have an account, please <a href="/login">login</a>.</h3>
<form method="post">
  <label> User Name:
    <input type="text" name="username" value={{username}}>
    <h3 style="color: red">{{error_userusername}}</h3>
    <h3 style="color: red">{{error_userexist}}</h3>
  </label><br>
  <label> Password:
    <input type="password" name="password" value="">
    <h3 style="color: red">{{error_pw}}</h3>
    <h3 style="color: red">{{error_match}}</h3>
  </label><br>
  <label> Confirm Pw:
    <input type="password" name="verify" value="">
  </label><br>
  <label> Email (optional):
    <input type="text" name="email" value={{email}}>
    <h3 style="color: red">{{error_email}}</h3>
  </label><br>
  <input type="submit">
{% endblock %}
